---
import Search from "./icons/Search.astro";
---

<div
  class="flex w-full border-2 border-gray-950 rounded-full bg-white h-fit p-3 items-center md:p-1 md:px-2"
>
  <input
    type="text"
    class="form-control text-lg bg-white w-full h-full border-none focus:outline-none md:text-base"
    placeholder="Buscar..."
  />
  <button class="bg-primary text-white p-2 rounded-xl">
    <Search />
  </button>
</div>
